.project {
    background-color: #000000fa;
    width: 100%;
    height: auto;
    margin-bottom: 200px;
}

.titulo {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.container {
    display: grid;
    margin: 150px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
  }

  @media screen and (max-width: 600px) {
    .container {
      margin: 0;
    }
  }

.card {
    border-radius: 50px;
    margin-bottom: 20px;
    background-color: rgba(109, 101, 101, 0);
    color: #000;
}
.resaltado {
  padding-top: 20px;
  font-weight: 700;
}

.oscurecerImagen {
  background-color: #0f0f0fe1;
  align-items: center;
  z-index: 0;
}

.button {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  font-weight: 500;
  align-items: center;
  background-color: #000;
  color: white;

}

.bgCard{
  background-color: #000000fa;
  color: white;
}
.bgBoton {
  background-color: #000000;
}