.project {
    background-color: #000;
    width: 100%;
    height: auto;

}

.titulo {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.container {
    display: grid;
    margin: 200px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
  }

  @media screen and (max-width: 600px) {
    .container {
      margin: 0;
    }
  }

.card {
    border-radius: 50px;
    margin-bottom: 20px;
    background-color: white;
    color: #000;
}